/* start of carousel styles */
.carousel-item1{
    height: 600px!important;
    width: 100%;
    top: 0px;
    box-shadow: 5px 10px 18px #88872a;
    margin-top: -100px!important;
  }
  .movie-poster{
    background: no-repeat center center scroll;
    object-fit: cover !important;
    height: 100%!important;
    width: 100%!important;
  }
  .carousel-indicators button{
    width: 15px!important;
    height: 12px!important;
    border-radius: 50%!important;
  }
  .slider-show-data{
    position: absolute!important;
    left: 0px!important;
    width: 100%;
    margin-top: 15%;
    text-align: left;
    margin-left: 2%;
  }
  .slider-h1{
    text-align: left;
  }
  .slider-sub-data{
    width: 20%!important;
    margin-bottom: 15px;
    margin-right: 79%;
  }
  .slider-quality{
    background-color: rgb(26, 184, 236)!important;
    width: 33px;
    height: 20px!important;
    border-radius: 4px!important;
    color: black!important;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
  }
  .slider-assessment{
    width: 46px!important;
    font-size: 14px;
    padding-top: 3px;
  }
  .slider-assessment-i{
    margin-top: 4px!important;
    font-size: 13px;
  }
  .slider-duration{
    color: rgb(79, 79, 79)!important;
    font-size: 14px;
    padding-top: 3px;
  }
  .slider-movie-genre{
    font-size: 14px;
    font-weight: 400;
  }
  .slider-p{
    margin-bottom: 34px;
    width: 49%;
    text-align: left;
  }
  .slider-btn-group{
    width: 25%;
    margin-right: 75%;
  }
  .slider-btn1, .slider-btn2{
    width: 43%;
    margin-right: 20px;
    text-align: center;
    font-size: 14px!important;
    font-weight: 300!important;
    border-radius: 25px!important;
    outline: none!important;
    background-color: transparent!important;

  }
  .slider-btn1{
    border: 1px solid lightblue!important;
    color: lightblue!important;
  }
  .slider-btn2{
    border: 1px solid white!important;
  }
  .btn1-i, .btn2-i{
    margin-right: 2px;
  }

  /* end of carousel styles */
  /* start of more-social modal */
.more-social-modal-header{
  background-color: rgb(79, 79, 79);
  display: block!important;
  background: none;
  position:relative; 
  z-index:1;
  overflow:hidden;
}
.modal-dialog{
  height: 0px!important;
}
.modal-content{
  height: 0px!important;
}
.social-modal-exit-i{
  font-size: 30px;
  margin-left: 96%;
  color: white;
  cursor: pointer;
}  
.social-modal-exit-i:hover{
  color: black;
}
.social-h1{
  padding-left: 46%;
  font-size: 52px;
}
.social-p{
  padding-left: 38%;
  margin-bottom: 0px;
  font-size: 15px;
}
.social-url{
  color: rgb(79,79,79);
  padding-left: 46%;
  font-size: 13px;
}
.social-modal-form{
  padding-left: 28%;
  padding-bottom: 30px;
  width: 100%;
}
.btn-group-p{
  color: white;
  width: 40%;
  margin-left: 30%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
}
.social-search-input{
  font-size: 17px;
  padding:4px 1px!important;
  height: 45px!important;
  background-color: inherit!important;
  color: white!important;
  font-weight: 500!important;
  border-style: none!important;
  border-bottom: 1px solid white!important;
  width: 73%!important;
  border-radius: 0px!important;
}

.social-search-btn{
  background-color: inherit!important;
  outline: none;
  border-style: none;
  position: absolute;
  z-index: 999;
  left: 75%;
  top: 22%;

}
.social-search-i{
  margin-left: 26%;
  text-align: center;
  font-size: 20px;
}
.btn-groups{
  padding-bottom: 30px;
}
.social-btn-group1, .social-btn-group2{
  width: 53%;
  margin-left: 28%;
  padding-bottom: 1%;
  outline: none!important;
  text-decoration: none;
  border: none!important;
}
.pinterest-modal-btn, .facebook-modal-btn, .twitter-modal-btn,
.print-modal-btn, .email-modal-btn, .gmail-modal-btn, .linkedin-modal-btn,
.email-app-modal-btn, .tumblr-modal-btn, .messenger-modal-btn{
  height: 85px;
  width: 80px;
  padding: 0px!important;
  border-radius: 50%!important;
  margin-bottom: 4px;
  position: relative;
  top: 0px;
  transition: top ease .6s;
}
.pinterest-modal-btn:hover, .facebook-modal-btn:hover, .twitter-modal-btn:hover,
.print-modal-btn:hover, .email-modal-btn:hover, .gmail-modal-btn:hover, .linkedin-modal-btn:hover,
.email-app-modal-btn:hover, .tumblr-modal-btn:hover, .messenger-modal-btn:hover{
  top: -10px;
}
.print-modal-btn .modal-social-i{
  margin-top: 9px;
}
.email-modal-btn .modal-social-i{
  margin-top: 12px;
  margin-left: 8px;
}
.linkedin-modal-btn .modal-social-i,
.tumblr-modal-btn .modal-social-i{
  margin-top: 10px;
  margin-left: 12px;
}
.email-app-modal-btn .modal-social-i{
  margin-top: 7px;
  margin-left: 9px;
}
.messenger-modal-btn .modal-social-i{
  padding-left: 9px;
  padding-top: 11px;
}
.facebook-modal-btn{
  background-color: #3b5998!important;
}
.twitter-modal-btn{
  background-color: #569cdb!important;
}
.email-modal-btn{
  background-color: #70717a!important;
}
.pinterest-modal-btn{
  background-color: #F52B29!important;
}
.whatsapp-modal-btn{
  background-color: #0ED100!important;
}
.telegram-modal-btn{
  background-color: #2881D1!important;
}
.modal-social-i{
  font-size: 64px;
}
.modal-btn-div p{
  margin-left: 10px;
  font-size: 14px;
}
.gmail-modal-btn{
  background-color: #f03636!important;
}
.linkedin-modal-btn{
  background-color: #569cdb!important;
}
.email-app-modal-btn{
  background-color: grey!important;
}
.tumblr-modal-btn{
  background-color: rgb(58, 55, 55)!important;
}
.messenger-modal-btn{
  background-color: #5aa8ec!important;
}
.load-more-btn{
  margin-left: 43%;
  width: 12%;
  background-color: white;
  border-radius: 25px;
  height: 45px;
  font-size: 14px;
  background-color: rgb(201, 201, 201)!important;
}
.social-modal-footer{
  border-top: 0px!important;
}
.social-modal-footer .add-this{
  padding-left: 50%!important;
  margin-right: 2%!important;
}
.modal-add-this{
  margin-top: 7px;
  padding-right: 15px;
  height: 30px;
  cursor: pointer;
}
.modal-add-this-i{
  font-size: 10px;
  font-weight: 900;
  background-color: #993E05;
  padding: 4px;
  margin-top: 4px;
  margin-right: 4px;
  
}
.modal-add-this p{
  font-size: 13px;
  margin-top: 4px;
  font-weight: 600;
}
.modal-add-this p:hover{
  color: black;
}
/* end of more-social modal */


/* handling carousel responsivity */
@media (min-width: 0px) and (max-width: 581px) {
  .slider-p{
    display: none;
  }
  .slider-sub-data{
    width: 50%!important;
  }
  .slider-btn-group{
    width: 55%;
    padding-top: 10px;
  }
  .carousel-indicators{
    visibility: hidden;
  }
}
@media (min-width: 581px) and (max-width: 668px){
  .slider-show-data{
     margin-bottom: 35px!important;
  }
  .slider-sub-data{
    width: 40%!important;
  }
  .slider-p{
   width: 100%!important;
  }
  .slider-btn-group{
    width: 55%;
  }
}
/* end of handling carousel responsivity */