body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.website-info{
  position: relative;
  z-index: 999;
  margin-top: 44%;
  width: 100%;
  text-align: left;
  padding-left: 20px;
  background-color: black;
  padding-top: 5%;

}
.info-h{
  font-size: 23px;
  color: white;
}
.info-p{
  font-size: 15px;
  color: white;
  width: 95%;
  margin-bottom: 0px;
}
.p-strong-1{
  color: white;
}
.p-strong-2{
  color: white;
}
.p-strong-3{
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 0px 10px;
}
.social-media{
  width: 40%;
}
.social-i{
  padding-right: 10px;
  margin-top: 2px;
}
.social-media p{
  font-size: 10px;
  margin-top: 1px;
}
.facebook-btn, .twitter-btn,
.email-btn, .pinterest-btn,
.whatsapp-btn, .telegram-btn,
.more-dropdown{
  height: 28px!important;
  border-radius: 0px!important;
  padding: 6px 15px 4px 7px!important;
  margin-right: 7px;
}
.facebook-btn{
  background-color: #3b5998!important;
}
.twitter-btn{
  background-color: #569cdb!important;
}
.email-btn{
  background-color: #70717a!important;
}
.pinterest-btn{
  background-color: #F52B29!important;
}
.whatsapp-btn{
  background-color: #0ED100!important;
}
.telegram-btn{
  background-color: #2881D1!important;
}
.more-dropdown{
  background-color: #993E05!important;
  width: 20%;
  cursor: pointer;
  padding: 0px!important;
}
.more-toggle{
  height: inherit!important;
  padding: 7px!important;
  background-color: inherit!important;
  outline: none!important;
  border-radius: 0px!important;
}
.more-toggle p span{
  margin-right: 12px;
}
.print, .gmail, .linkedin, .email-app,
.tumblr, .messenger, .more-item{
  width: 100%!important;
  height: 27px!important;
  padding-right: 65%!important;
  cursor: default!important;
  padding: 7px 62% 6px 15px!important;
  width: 50%;
  background-color: white!important;
}
.print:hover, .gmail:hover, .linkedin:hover, .email-app:hover,
.tumblr:hover, .messenger:hover .more-dropdown:hover, .more-item:hover{
  background-color: #2881D1!important;
  color: white!important;
}
.print p, .gmail p, .linkedin p, .email-app p,
.tumblr p, .messenger p, .more-item p, .add-this p{
  color: blue!important;
  font-size: 14px;
}
.more-item p:hover,.print p:hover, .gmail p:hover, .linkedin p:hover, .email-app p:hover,
.tumblr p:hover, .messenger p:hover{
  color: white;
}
.print .social-item-i, .gmail .social-item-i,.linkedin .social-item-i, 
.email-app .social-item-i, .tumblr .social-item-i, .messenger .social-item-i{
  font-size: 15px;
  padding: 3px;
}
.print .social-item-i{
  background-color: grey;
}
.gmail .social-item-i{
  background-color: red;
}
.linkedin .social-item-i{
  background-color: #2881D1;
}
.email-app .social-item-i{
  background-color: grey;
}
.messenger .social-item-i{
  background-color: #2881D1;
}
.add-this{
  margin-top: 7px;
  border-top: 1px solid lightgrey!important;
  padding-left: 56%!important;
  height: 30px;
}
.add-this-i{
  font-size: 8px;
  font-weight: 900;
  background-color: #993E05;
  padding: 4px;
  margin-top: 4px;
  margin-right: 4px;
  
}
.add-this p{
  font-size: 10px;
  color: #993E05!important;
  margin-top: 4px;
}
.add-this p:hover{
  color: black;
}
.more-menu{
  outline: none;
  border-radius: 0px!important;
}
.social-item-i{
  margin-right: 10px;
}
.more-item-i{
  font-size: 12px;
  font-weight: bold;
  background-color: #993E05;
  padding: 4px;
  margin-right: 9px;
}
.more-item p{
  font-size: 14px;
}


/* start of main styles */
.main{
  padding: 20px;
}
.heading{
  width: 44%;
}
.recommended, .latest-movies, .latest-tv, .requested{
  padding-bottom: 20px;
}
.heading h2, .latest-movies h2, .latest-tv h2, .requested h2 {
  color: rgb(79 79 79)!important;
  font-size: 26px;
}
.movies-btn, .shows-btn, .trending-btn{
  height: 33px;
  border-radius: 5px;
  border: none;
  color: white;
}
.movies-btn:hover, .shows-btn:hover, .trending-btn:hover{
  color: grey;
}
.main-stream-overlay-i{
  color: blue!important;
  font-size: 10px;
  margin-right: 4px;
  background-color: white!important;
  padding: 5px;
  border-radius: 25px;
  margin-top: 5px;
}
.movies-btn{
  background-color: blue;
}
.btn-i{
  padding-right: 7px;
}
.heading h2 span, .latest-movies h2 span, 
.latest-tv h2 span, .requested h2 span{
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}
.view-btn{
  background-color: inherit;
  border: none;
  color: cornflowerblue;
}
.view-btn:hover{
  color: grey;
}
.viewbtn-i{
  padding-left: 5px;
}
/* end of main styles */

